{% load static %}

<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr"
data-theme="theme-default"
data-assets-path="{% static '' %}"
data-template="vertical-menu-template-free">

<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Boxicons CSS -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<head>
<style>

.flatpickr-calendar .flatpickr-monthDropdown-months {
    width: 100px;
    font-size: 0.9rem;
}

.flatpickr-year-dropdown {
    width: 80px;
    font-size: 0.9rem;
    border: none;
}
th.sorted-asc::after {
  content: " ▲";
  font-size: 12px;
}
th.sorted-desc::after {
  content: " ▼";
  font-size: 12px;
}

</style>
  
  {% include 'head.html' %}
</head>

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      
      {% include 'sidebar.html' %}

      <!-- Layout container -->
      <div class="layout-page">
        
        {% include 'navbar.html' %}
        
        {% block content %}{% endblock %}
        
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  <!-- Core JS -->
  <script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
  <script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
  <script src="{% static 'vendor/js/bootstrap.js' %}"></script>
  <script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

  <script src="{% static 'vendor/js/menu.js' %}"></script>

  <!-- Vendors JS -->
  <script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>

  <!-- Main JS -->
  <script src="{% static 'js/main.js' %}"></script>

  <!-- Page JS -->
  <script src="{% static 'js/dashboards-analytics.js' %}"></script>

  <script async defer src="https://buttons.github.io/buttons.js"></script>


  <!-- Flatpickr JS -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <!-- Your custom init file -->
  <script src="{% static 'js/flatpickr-init.js' %}"></script>
  <script src="{% static 'js/table-sorting.js' %}"></script>
  <script src="{% static 'js/searching.js' %}"></script>

</body>
</html>
