<!-- Menu -->
{% load static %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="#" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img width="42px" src="{% static 'img/DIGIWAVE LOGO CROP.png' %}" alt="">
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">DigiWave</span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <!-- Layouts -->
   {% if request.user.is_active and request.user.is_staff and request.user.is_superuser %}
   <!-- admin dashboard -->
  <ul class="menu-inner py-1">
    <li class="menu-item">
      <a href="{% url 'admin_dashboard' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">DATA</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-folder"></i>
        <div data-i18n="Projects">Projects</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'project_list' %}" class="menu-link">All Projects</a></li>
        <li class="menu-item"><a href="{% url 'quotation_list' %}" class="menu-link">Quotations</a></li>
        <li class="menu-item"><a href="{% url 'get_project_p_l' %}" class="menu-link">Project P&L</a></li>
        <li class="menu-item"><a href="#" class="menu-link">API Documentation</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Free Service Commitment</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Live Links & Git Repos</a></li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-server"></i>
        <div data-i18n="Server & Domain">Server & Domain</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'host_list' %}" class="menu-link">Hosting Details</a></li>
        <li class="menu-item"><a href="{% url 'domain_list' %}" class="menu-link">Domain Details</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Other Credentials</a></li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="{% url 'file_docs' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div data-i18n="Projects">Files & Docs</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-folder"></i>
        <div data-i18n="Data">Add Data</div>
      </a>
      <ul class="menu-sub">

        <li class="menu-item"><a href="{% url 'designation_list' %}" class="menu-link">Role</a></li>
        <li class="menu-item"><a href="{% url 'technology_list' %}" class="menu-link">Technology</a></li>
        <li class="menu-item"><a href="{% url 'appmode_list' %}" class="menu-link">App Mode</a></li>
      </ul>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">USERS</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div data-i18n="Employees">Employees</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'user_list' %}" class="menu-link">All Employees</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Attendance</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Daily Task List</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Payroll & Expenses</a></li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-briefcase"></i>
        <div data-i18n="Clients">Clients</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'client_list' %}" class="menu-link">All Clients</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Contracts & Docs</a></li>
      </ul>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">PAYMENTS</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-wallet"></i>
        <div data-i18n="Payments">Payments</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'payment_list' %}" class="menu-link">From Clients</a></li>
        <li class="menu-item"><a href="{% url 'developer_payment_list' %}" class="menu-link">To Developers</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Pending & Credited</a></li>
      </ul>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">REPORT</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-bar-chart-alt-2"></i>
        <div data-i18n="Reports">Reports</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="#" class="menu-link">Profit & Loss</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Expenses Overview</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Income Overview</a></li>
      </ul>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">PROFILE</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-cog"></i>
        <div data-i18n="Settings">Settings</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="#" class="menu-link">Company Info</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Roles & Permissions</a></li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="auth-login-basic.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-power-off"></i>
        <div data-i18n="Logout">Logout</div>
      </a>
    </li>
  </ul>
  {% elif request.user.is_active and request.user.is_staff and not request.user.is_superuser %}  
  <!-- employee dashboard -->
  <ul class="menu-inner py-1">
    <li class="menu-item">
      <a href="{% url 'dashboard' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">DATA</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-folder"></i>
        <div data-i18n="Projects">Projects</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'project_list' %}" class="menu-link">All Projects</a></li>
        <li class="menu-item"><a href="{% url 'quotation_list' %}" class="menu-link">Quotations</a></li>
        <li class="menu-item"><a href="#" class="menu-link">API Documentation</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Free Service Commitment</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Live Links & Git Repos</a></li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-server"></i>
        <div data-i18n="Server & Domain">Server & Domain</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'host_list' %}" class="menu-link">Hosting Details</a></li>
        <li class="menu-item"><a href="{% url 'domain_list' %}" class="menu-link">Domain Details</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Other Credentials</a></li>
      </ul>
    </li>

    <!-- <li class="menu-item">
      <a href="{% url 'file_docs' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div data-i18n="Projects">Files & Docs</div>
      </a>
    </li> -->

    <!-- <li class="menu-header small text-uppercase">
      <span class="menu-header-text">USERS</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div data-i18n="Employees">Employees</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'user_list' %}" class="menu-link">All Employees</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Attendance</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Daily Task List</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Payroll & Expenses</a></li>
      </ul>
    </li> -->

    <!-- <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-briefcase"></i>
        <div data-i18n="Clients">Clients</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'client_list' %}" class="menu-link">All Clients</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Contracts & Docs</a></li>
      </ul>
    </li> -->

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">PAYMENTS</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-wallet"></i>
        <div data-i18n="Payments">Payments</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'payment_list' %}" class="menu-link">From Clients</a></li>
        <li class="menu-item"><a href="{% url 'developer_payment_list' %}" class="menu-link">To Developers</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Pending & Credited</a></li>
      </ul>
    </li>

    <!-- <li class="menu-header small text-uppercase">
      <span class="menu-header-text">REPORT</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-bar-chart-alt-2"></i>
        <div data-i18n="Reports">Reports</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="#" class="menu-link">Profit & Loss</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Expenses Overview</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Income Overview</a></li>
      </ul>
    </li> -->

    <!-- <li class="menu-header small text-uppercase">
      <span class="menu-header-text">PROFILE</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-cog"></i>
        <div data-i18n="Settings">Settings</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="#" class="menu-link">Company Info</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Roles & Permissions</a></li>
      </ul>
    </li> -->

    <li class="menu-item">
      <a href="auth-login-basic.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-power-off"></i>
        <div data-i18n="Logout">Logout</div>
      </a>
    </li>
  </ul>
  {% endif %}

{% block extra_js %}
<script>
document.addEventListener("DOMContentLoaded", function () {
  const ACC_KEY = "openAccordion";
  const SUB_KEY = "activeSubmenu";

  const norm = p => {
    if (!p) return "/";
    p = p.split("?")[0].split("#")[0];
    if (p.length > 1 && p.endsWith("/")) p = p.slice(0, -1);
    return p;
  };
const currentPath = norm(location.pathname);
// --- IF ON DASHBOARD
if (currentPath === "/" || currentPath.endsWith("dashboard")) {
  // remove any open/active classes
  document.querySelectorAll("#layout-menu li.menu-item.open").forEach(item => {
    item.classList.remove("open","active");
  });

  // make first menu-item (Dashboard) active
  const menuInner = document.querySelector("#layout-menu .menu-inner");
  if (menuInner) {
    const firstMenuItem = menuInner.querySelector("li.menu-item:first-child");
    if (firstMenuItem) {
      firstMenuItem.classList.add("active");
      const link = firstMenuItem.querySelector("a.menu-link");
      if (link) link.classList.add("active");
    }
  }

  return; // skip the rest of the script
}


  // Assign stable data-id to each top-level accordion
  const toggles = Array.from(document.querySelectorAll("#layout-menu .menu-link.menu-toggle"));
  toggles.forEach((t, i) => {
    const li = t.closest("li.menu-item");
    if (li && !li.dataset.id) li.dataset.id = String(i);
  });

  // --- Force all accordions closed at start
  document.querySelectorAll("#layout-menu li.menu-item.open").forEach(item => {
    item.classList.remove("open", "active");
  });

  // Remove all existing active classes first
document.querySelectorAll("#layout-menu li.menu-item").forEach(li => li.classList.remove("active", "open"));
document.querySelectorAll("#layout-menu .menu-link").forEach(a => a.classList.remove("active"));

  // Find link that matches current path
  let matchedLink = null;
  document.querySelectorAll("#layout-menu .menu-link").forEach(a => {
    const href = a.getAttribute("href");
    if (!href || href === "#" || href.startsWith("javascript")) return; // ⬅️ ignore placeholders
    const linkPath = norm(href);
    if (currentPath === linkPath || currentPath.endsWith(linkPath)) matchedLink = a;
  });

  const openLi = li => { if (li) li.classList.add("open","active"); };
  const closeLi = li => { if (li) li.classList.remove("open","active"); };

  // If current page matches a submenu, open its parent and save
  if (matchedLink && matchedLink.closest("ul.menu-sub")) {
    matchedLink.classList.add("active");
    matchedLink.closest("li.menu-item")?.classList.add("active");
    const parentLi = matchedLink.closest("ul.menu-sub")?.closest("li.menu-item");
    openLi(parentLi);
    if (parentLi) localStorage.setItem(ACC_KEY, parentLi.dataset.id || "");
    localStorage.setItem(SUB_KEY, matchedLink.getAttribute("href"));
  } else {
    // Restore state
    const savedSub = localStorage.getItem(SUB_KEY);
    const savedAcc = localStorage.getItem(ACC_KEY);

    if (savedSub) {
      const el = document.querySelector(`#layout-menu .menu-link[href="${savedSub}"]`);
      if (el) {
        el.classList.add("active");
        el.closest("li.menu-item")?.classList.add("active");
        openLi(el.closest("ul.menu-sub")?.closest("li.menu-item"));
      }
    } else if (savedAcc) {
      openLi(document.querySelector(`#layout-menu li.menu-item[data-id="${savedAcc}"]`));
    }
  }

  // --- Accordion toggle (single click, no double-toggle from theme)
  let lastClickTs = 0;
  const MIN_GAP = 250; // ms debounce

  toggles.forEach(toggle => {
    const li = toggle.closest("li.menu-item");
    toggle.addEventListener("click", function(e) {
      e.preventDefault();
      e.stopPropagation();
      e.stopImmediatePropagation(); // block theme's own handler (prevents double toggle)

      const now = Date.now();
      if (now - lastClickTs < MIN_GAP) return; // debounce fast double clicks
      lastClickTs = now;

      const isOpen = li.classList.contains("open");

      // Close others (keep this one)
      document.querySelectorAll("#layout-menu li.menu-item.open").forEach(item => {
        if (item !== li) closeLi(item);
      });

      if (isOpen) {
        // Close this one and clear only accordion key
        closeLi(li);
        if (localStorage.getItem(ACC_KEY) === li.dataset.id) {
          localStorage.removeItem(ACC_KEY);
        }
        // Do NOT clear SUB_KEY here; keep submenu highlight until navigation
      } else {
        // Open and store
        openLi(li);
        localStorage.setItem(ACC_KEY, li.dataset.id || "");
      }
    }, { passive: false });
  });

  // --- Save submenu clicks (so parent stays open after navigation)
  document.querySelectorAll("#layout-menu .menu-sub .menu-link").forEach(link => {
    link.addEventListener("click", function () {
      const href = this.getAttribute("href");
      if (href && href !== "#" && !href.startsWith("javascript")) { // ⬅️ ignore placeholders
        localStorage.setItem(SUB_KEY, href);
        const parentLi = this.closest("ul.menu-sub")?.closest("li.menu-item");
        if (parentLi) localStorage.setItem(ACC_KEY, parentLi.dataset.id || "");
      }
    }, { passive: true });
  });

    // --- Handle direct (no submenu) menu links
  document.querySelectorAll("#layout-menu > ul > li.menu-item > a.menu-link:not(.menu-toggle)").forEach(link => {
    link.addEventListener("click", function () {
      const href = this.getAttribute("href");
      if (href && href !== "#" && !href.startsWith("javascript")) {
        // Clear accordion state because this is a top-level direct link
        localStorage.removeItem(ACC_KEY);
        // Also clear submenu highlight (optional, if you want)
        localStorage.removeItem(SUB_KEY);
        // Close all accordions immediately
        document.querySelectorAll("#layout-menu li.menu-item.open").forEach(item => {
          item.classList.remove("open", "active");
        });
      }
    }, { passive: true });
  });

});
</script>
{% endblock %}


</aside>
<!-- / Menu -->
