<!-- Menu -->
 {% load static %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="#" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img width="42px" src="{% static 'img/DIGIWAVE LOGO CROP.png' %}" alt="">
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">DigiWave</span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <!-- Layouts -->
   {% if request.user.is_active and request.user.is_staff and request.user.is_superuser %}
  <ul class="menu-inner py-1">
    <li class="menu-item active">
      <a href="#" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">DATA</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-folder"></i>
        <div data-i18n="Projects">Projects</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'project_list' %}" class="menu-link">All Projects</a></li>
        <li class="menu-item"><a href="{% url 'quotation_list' %}" class="menu-link">Quotations</a></li>
        <li class="menu-item"><a href="#" class="menu-link">API Documentation</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Free Service Commitment</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Live Links & Git Repos</a></li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-server"></i>
        <div data-i18n="Server & Domain">Server & Domain</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'host_list' %}" class="menu-link">Hosting Details</a></li>
        <li class="menu-item"><a href="{% url 'domain_list' %}" class="menu-link">Domain Details</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Other Credentials</a></li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="{% url 'file_docs' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div data-i18n="Projects">Files & Docs</div>
      </a>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">USERS</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div data-i18n="Employees">Employees</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'user_list' %}" class="menu-link">All Employees</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Attendance</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Daily Task List</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Payroll & Expenses</a></li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-briefcase"></i>
        <div data-i18n="Clients">Clients</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'client_list' %}" class="menu-link">All Clients</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Contracts & Docs</a></li>
      </ul>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">PAYMENTS</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-wallet"></i>
        <div data-i18n="Payments">Payments</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'payment_list' %}" class="menu-link">From Clients</a></li>
        <li class="menu-item"><a href="#" class="menu-link">To Developers</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Pending & Credited</a></li>
      </ul>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">REPORT</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-bar-chart-alt-2"></i>
        <div data-i18n="Reports">Reports</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="#" class="menu-link">Profit & Loss</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Expenses Overview</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Income Overview</a></li>
      </ul>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">PROFILE</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-cog"></i>
        <div data-i18n="Settings">Settings</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="#" class="menu-link">Company Info</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Roles & Permissions</a></li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="auth-login-basic.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-power-off"></i>
        <div data-i18n="Logout">Logout</div>
      </a>
    </li>
  </ul>
  {% elif request.user.is_active and request.user.is_staff and not request.user.is_superuser %}
  <ul class="menu-inner py-1">
    <li class="menu-item active">
      <a href="#" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">DATA</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-folder"></i>
        <div data-i18n="Projects">Projects</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'project_list' %}" class="menu-link">All Projects</a></li>
        <li class="menu-item"><a href="{% url 'quotation_list' %}" class="menu-link">Quotations</a></li>
        <li class="menu-item"><a href="#" class="menu-link">API Documentation</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Free Service Commitment</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Live Links & Git Repos</a></li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-server"></i>
        <div data-i18n="Server & Domain">Server & Domain</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'host_list' %}" class="menu-link">Hosting Details</a></li>
        <li class="menu-item"><a href="{% url 'domain_list' %}" class="menu-link">Domain Details</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Other Credentials</a></li>
      </ul>
    </li>

    <!-- <li class="menu-item">
      <a href="{% url 'file_docs' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div data-i18n="Projects">Files & Docs</div>
      </a>
    </li> -->

    <!-- <li class="menu-header small text-uppercase">
      <span class="menu-header-text">USERS</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div data-i18n="Employees">Employees</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'user_list' %}" class="menu-link">All Employees</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Attendance</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Daily Task List</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Payroll & Expenses</a></li>
      </ul>
    </li> -->

    <!-- <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-briefcase"></i>
        <div data-i18n="Clients">Clients</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'client_list' %}" class="menu-link">All Clients</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Contracts & Docs</a></li>
      </ul>
    </li> -->

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">PAYMENTS</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-wallet"></i>
        <div data-i18n="Payments">Payments</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="{% url 'payment_list' %}" class="menu-link">From Clients</a></li>
        <li class="menu-item"><a href="#" class="menu-link">To Developers</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Pending & Credited</a></li>
      </ul>
    </li>

    <!-- <li class="menu-header small text-uppercase">
      <span class="menu-header-text">REPORT</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-bar-chart-alt-2"></i>
        <div data-i18n="Reports">Reports</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="#" class="menu-link">Profit & Loss</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Expenses Overview</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Income Overview</a></li>
      </ul>
    </li> -->

    <!-- <li class="menu-header small text-uppercase">
      <span class="menu-header-text">PROFILE</span>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-cog"></i>
        <div data-i18n="Settings">Settings</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item"><a href="#" class="menu-link">Company Info</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Roles & Permissions</a></li>
      </ul>
    </li> -->

    <li class="menu-item">
      <a href="auth-login-basic.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-power-off"></i>
        <div data-i18n="Logout">Logout</div>
      </a>
    </li>
  </ul>
  {% endif %}
</aside>
<!-- / Menu -->
